<!docktype html>
<html>
<head>
<title>
Create Account
</title>
</head>
<body style="background-color: aliceblue">
<hr>
<h1><center> Sign Up </center></h1>
<hr>

<div id="register-wrapper">
<form class="registerform" action="" method="">
<p>
    <label>Username/Email:</label>
<input type="text" class="inputvalues" name="username" placeholder="Username/email" required="required" size="10" Maxlength="30">
</p>

<p>
    <label>Password:</label>
<input type="password" class="inputvalues" name="password" required="required" placeholder="Atleast 8 character long" size="8" Maxlength="15">
</p>

<p>
<label>Confirm Pasword:</label>
<input type="password" class="inputvalues" name="confirmpassword" placeholder="confirm password" required="required" size="8" Maxlength="15">
</p>

<p>
    <input type="submit" id="submit_btn" name="Signup" value="Sign Up">

</form>
</div>
<br>
<input type="button" id="backtologin_btn" name="BACK" value="back to Log-In">

</body>
</html>
