<!Docktype html>
<html>
<head>
<title>
Log In
</title>
    <link rel="stylesheet" href="(css file path here)">
</head>
<body style="background-color: aliceblue">
<hr>
<div id="main-wrapper"> 
<h1><center>LOG IN</center></h1>
<hr>
</div>
    
<div id="login-wrapper">  
<form class="loginform"  action="" method="">
    
<p>
<label><b>Username/Email:</b></label>
<input type="text" class="inputvalues" name="email" required="required" size="10" Maxlength="20">
</p>
    
    
<p>
    <label><b>Password:</b></label>
<input type="password" class="inputvalues" name="pssword" required="required" placeholder="Atleast 8 character" size="8" Maxlength="15">
<br>
<input type="checkbox" class="checkbox" name="savepassword" >
<label>Remember Password</label>
</p>

    
<p>
<input type="submit" id="login_btn" name="login" value="log In">
</p>

<p>
    <label>Don't have an account?</label><br>
</p>
</form>
</div>
</body>
</html>
